body {
  margin: 10px;
}

#products {
  background-color: aqua;
}

a[target] {
  color: red;
}

a[href^="https"][href$=".com"] {
  color: orange;
}

/* for all p elements inside #parent */
#parent p {
  background-color: gold;
}

/* direct children of #parent */
#parent > p {
  font-weight: bold;
}

/* Direct Sibling */
#parent + p {
  background-color: greenyellow;
}

/* General Sibling */
#parent ~ p {
  color: red;
}

/* 
Relational Seclectors
1. Can be fragile
2. Not as fast as basic selectors
*/

/* Pseudo-class Selectors */
.pseudo1 :first-child {
  font-size: 140%;
  font-style: italic;
}

.pseudo2 :first-of-type {
  font-size: 110%;
  color: blueviolet;
}

.pseudo3 p:first-of-type {
  font-size: 110%;
  font-weight: bold;
  color: rgb(37, 135, 168);
}

.pseudo4 ul li:nth-child(odd) {
  color: pink;
}

.pseudo4 ul li:nth-child(even) {
  color: green;
}

.pseudo5 a:visited {
  color: dodgerblue;
}

.pseudo5 a:hover,
.pseudo5 a:focus {
  color: deeppink;
}

/* Pseudo-element Selectors */
.pseudo6 p::first-letter {
  color: red;
  font-weight: bold;
}

.pseudo6 p::first-line {
  background-color: dodgerblue;
}

.pseudo6 p::selection {
  background-color: pink;
}

.pseudo6 p::before {
  content: "!! before insert !!";
  display: block;
}
